@media screen and (min-width:1024px) {
    nav {
        height: 100px;
        background-color: #fff;
    }
    nav a {
        margin: 0 10px;
        border-top: 1px solid red;
        border-bottom: 2px dashed red;
    }
    .container {
        width: 1024px;
        margin: 0 auto;
    }
    .main-content {
        width: 75%;
        float: left;
    }
    aside {
        width: 24%;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        background: rgba(34, 34, 34, .4);
    }
    aside li a {
        text-align: center;
        text-decoration: none;
        color: green;
    }
    aside li a:hover {
        color: #dedede
    }
    .interest-aside {
        list-style: none;
        text-align: center;
    }
    footer {
        padding: 20px;
        background: blue;
        margin-top: auto;
        margin-bottom: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center
    }
    footer p {
        margin-left: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #welcome {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 200px;
        background: rgba(34, 34, 34, .4);
    }
    #about,
    #interests {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        height: 200px;
        background: rgba(34, 34, 34, .4);
        margin: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #interests {
        margin-top: 0;
    }
    .form {
        height: 70vh;
    }
    .form input {
        width: 100%;
    }
    #listy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    #listy div {
        width: 49.5%;
    }
    .wspa {
        padding:10px;
        color:white;
        background: rgba(0,0,0,.8);
    }
}