body {
    background: linear-gradient(180deg, rgba(34, 33, 33, .4), transparent, #eee000);
    height: auto;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

nav a:nth-child(odd) {
    font-family: Arial, Helvetica, sans-serif;
}

nav a:nth-child(even) {
    color: #9f0f00;
}

nav a:hover {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-transition: all 1s;
    transition: all 1s;
    background: black;
    color:white;
    border-radius: 10% 2px 10% 5px;
}

.form {
    width: auto;
}


#welcome {
    text-align: center;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.clearfix {
    clear: both;
}