@media screen and (max-width:1023px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    nav{
        display: flex;
        flex-direction: column;
        background: black
    }
    nav a {
        margin: 3px 0 3px 0; 
        color: white;
    }
    #about, #interests,aside {
        text-align: center;
        border:1px dashed black;
        padding:5px;
    }
    aside li {
        list-style: circle;
    }
    aside li a{
        text-decoration: none;
        text-transform: uppercase;
    }
    footer{
        background-color: rgba(55,34,200,.4);
        margin-bottom: 0px;
        padding: 10px;
        text-align: center;
    }
}